
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
  font-family: "Roboto", Arial, sans-serif;
  font-size: 14px;
  background-color: #eee;
  padding: 0;
  margin: 0;
  line-height: 1.3;
}
.dataset {
  margin: 24px 0;
}
.str {
  color: #710000;
  font-weight: bold;
}
.kwd {
  color: #4287f5;
  font-weight: bold;
}
.comment {
  color: #288642;
}
.tag {
  border-radius: 10px;
  color: white;
  background-color: black;
  font-size: 10px;
  padding: 1px 5px;
}
.tag-docs { background-color: #0b83d9; }
.tag-queries { background-color: #2da608; }
.tag-qrels { background-color: #bf7000; }
.tag-scoreddocs { background-color: #9e5bd9; }
.tag-docpairs { background-color: #06a892; }
p, blockquote {
  margin: 6px 0;
  color: #333;
}
blockquote {
  border-left: 3px solid #a5bcd1;
  padding-left: 4px;
  margin-left: 6px;
}
.desc {
  color: #333;
}
.ds-ref {
  font-family: monospace;
  color: #444;
  font-weight: bold;
  cursor: pointer;
}
.page {
  position: relative; /* allow absolute position within page */
  background-color: #fff;
  max-width: 800px;
  margin: 8px auto;
  padding: 8px 24px;
  box-shadow: 0 0 8px #999;
  border: 1px solid #ddd;
}
.showhide {
    cursor: pointer;
    background: #ddd;
    padding: 2px 8px;
    font-size: 11px;
    color: #333;
}
.showhide:hover {
    background: #ccc;
}
.showhide.shown::before {
  content: '▼ hide ';
}
.showhide.hidden::before {
  content: '► show ';
}
ul {
  margin: 4px;
  padding-left: 16px;
}
.ds-name {
  font-size: 16px;
}
hr {
  border: none;
  border-top: 1px solid #888;
  margin: 24px -24px;
}
cite {
  border: 1px dotted #444;
  white-space: pre;
  overflow: auto;
  font-family: monospace;
  font-style: normal;
  display: block;
  padding: 4px;
  margin: 4px 0;
}
pre {
    margin: 0;
}
.banner {
    padding: 24px 16px 8px 16px;
    background-color: #ffc150;
    margin-top: -8px;
    margin-left: -24px;
    margin-right: -24px;
    text-align: center;
}

.tab-content {
  border: 1px solid #666666;
  margin: 0 4px 4px 4px;
  padding: 4px;
}

.tab {
  border: 1px solid #666666;
  margin: 4px 4px 0 4px;
  padding: 0 4px;
  display: inline-block;
  cursor: pointer;
  background-color: #666;
  color: white;
  line-height: 1.5;
}

.tab.selected {
  color: black;
  background-color: white;
  border-bottom: 1px solid white;
  position: relative;
  bottom: -1px;
}

code.example, .highlight {
  display: block;
  border-left: 4px solid #4287f5;
  padding-left: 6px;
  margin-left: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  overflow-x: auto;
}
code.output {
  display: block;
  border-left: 4px solid #32a852;
  padding-left: 6px;
  margin-left: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.type {
  border: 1px solid black;
  font-family: monospace;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin: 4px;
  background-color: rgba(66, 135, 245, 0.1);
  vertical-align: middle;
}

.type-name {
  font-weight: bold;
}

.type-fields {
  margin: 0;
  padding: 0;
  list-style: none;
}

.type-fields > li::before {
  content: "[" attr(data-tuple-idx) "] ";
  margin-left: 2px;
}

.index {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 8px;
}

.prefix {
  color: #777;
}

.index a {
  text-decoration: none;
}

.index a:hover {
  text-decoration: underline;
}

.lang-code {
  display: inline-block;
  border-radius: 6px;
  padding: 2px 4px;
  background-color: #4287f5;
  color: white;
  font-family: monospace;
}

td, th {
  text-align: left;
  padding: 0 8px;
}

th {
  background-color: #4287f5;
  color: white;
  text-align: left;
  padding: 0 8px;
}

tr:nth-child(2n+1) {
  background-color: #EEE;
}

tbody tr:nth-child(2n + 1) {
  background-color: #FFF;
}

tbody tr:nth-child(2n) {
  background-color: #EEE;
}

tbody tr:first-child td {
    padding-top: 12px;
}

tbody tr:last-child td {
    border-bottom: 2px solid #333;
}

.relScore {
  font-family: monospace;
  text-align: center;
}

.center {
  text-align: center;
}

.sep {
  border-top: 3px solid #333;
}

.warn {
  color: white;
  background-color: #c17300;
  padding: 8px 16px;
  border-radius: 8px;
}

.warn::before {
  content: "Warning: ";
  font-weight: bold;
}

h4 {
  margin-bottom: 0px;
}

.methodinfo {
  margin-left: 16px;
}

.stick-top {
  position: sticky;
  top: 0;
}

details {
    margin: 8px 0;
}

#DataAccess {
    border: 1px solid #91b6ca;
    margin: 8px;
    padding: 6px;
    background-color: #eff8fc;
    border-radius: 4px;
}

#DataAccess h3 {
    margin: 3px 0;
}

#Downloads {
    min-height: 21px;
    margin: 8px 0;
}

.ex-tab {
    display: inline-block;
    padding: 2px 4px;
    border: 1px solid black;
    cursor: pointer;
    margin: 2px;
    border-radius: 4px;
}

.ex-tab.selected {
    background-color: #4287f5;
    border-color: #4287f5;
    color: white;
}

.screen-small-show {
    display: none;
}

.hl {
    background-color: #fff9bd;
}

.highlight .hll { background-color: #ffffcc }
.highlight  { background: #ffffff; }
.highlight .c { color: #999988; font-style: italic } /* Comment */
.highlight .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.highlight .k { color: #000000; font-weight: bold } /* Keyword */
.highlight .o { color: #000000; font-weight: bold } /* Operator */
.highlight .ch { color: #999988; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #999988; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #999999; font-weight: bold; font-style: italic } /* Comment.Preproc */
.highlight .cpf { color: #999988; font-style: italic } /* Comment.PreprocFile */
.highlight .c1 { color: #999988; font-style: italic } /* Comment.Single */
.highlight .cs { color: #999999; font-weight: bold; font-style: italic } /* Comment.Special */
.highlight .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.highlight .ge { color: #000000; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #aa0000 } /* Generic.Error */
.highlight .gh { color: #999999 } /* Generic.Heading */
.highlight .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.highlight .go { color: #888888 } /* Generic.Output */
.highlight .gp { color: #555555 } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #aaaaaa } /* Generic.Subheading */
.highlight .gt { color: #aa0000 } /* Generic.Traceback */
.highlight .kc { color: #000000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #000000; font-weight: bold } /* Keyword.Declaration */
.highlight .kn { color: #000000; font-weight: bold } /* Keyword.Namespace */
.highlight .kp { color: #000000; font-weight: bold } /* Keyword.Pseudo */
.highlight .kr { color: #000000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #445588; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #009999 } /* Literal.Number */
.highlight .s { color: #dd1144 } /* Literal.String */
.highlight .na { color: #008080 } /* Name.Attribute */
.highlight .nb { color: #0086B3 } /* Name.Builtin */
.highlight .nc { color: #445588; font-weight: bold } /* Name.Class */
.highlight .no { color: #008080 } /* Name.Constant */
.highlight .nd { color: #3c5d5d; font-weight: bold } /* Name.Decorator */
.highlight .ni { color: #800080 } /* Name.Entity */
.highlight .ne { color: #990000; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #990000; font-weight: bold } /* Name.Function */
.highlight .nl { color: #990000; font-weight: bold } /* Name.Label */
.highlight .nn { color: #555555 } /* Name.Namespace */
.highlight .nt { color: #000080 } /* Name.Tag */
.highlight .nv { color: #008080 } /* Name.Variable */
.highlight .ow { color: #000000; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mb { color: #009999 } /* Literal.Number.Bin */
.highlight .mf { color: #009999 } /* Literal.Number.Float */
.highlight .mh { color: #009999 } /* Literal.Number.Hex */
.highlight .mi { color: #009999 } /* Literal.Number.Integer */
.highlight .mo { color: #009999 } /* Literal.Number.Oct */
.highlight .sb { color: #dd1144 } /* Literal.String.Backtick */
.highlight .sc { color: #dd1144 } /* Literal.String.Char */
.highlight .sd { color: #dd1144 } /* Literal.String.Doc */
.highlight .s2 { color: #dd1144 } /* Literal.String.Double */
.highlight .se { color: #dd1144 } /* Literal.String.Escape */
.highlight .sh { color: #dd1144 } /* Literal.String.Heredoc */
.highlight .si { color: #dd1144 } /* Literal.String.Interpol */
.highlight .sx { color: #dd1144 } /* Literal.String.Other */
.highlight .sr { color: #009926 } /* Literal.String.Regex */
.highlight .s1 { color: #dd1144 } /* Literal.String.Single */
.highlight .ss { color: #990073 } /* Literal.String.Symbol */
.highlight .bp { color: #999999 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #008080 } /* Name.Variable.Class */
.highlight .vg { color: #008080 } /* Name.Variable.Global */
.highlight .vi { color: #008080 } /* Name.Variable.Instance */
.highlight .il { color: #009999 } /* Literal.Number.Integer.Long */

@media screen and (max-width: 500px){
  .page {
    padding: 6px;
    margin: 0;
    border: 0;
  }
  h1 {
    margin-bottom: 2px;
  }
  h3 {
    margin-bottom: 4px;
  }
  hr {
    margin: 8px -6px;
  }
  .dataset {
    margin: 6px 0;
  }
  .screen-small-hide {
    display: none;
  }
  .screen-small-show {
    display: inherit;
  }
  .banner {
    margin-top: -6px;
    margin-left: -6px;
    margin-right: -6px;
  }
}
